.listing-detail {
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 1s ease;
}

.listing-detail-entered {
    opacity: 1;
}

.listing-detail__wrapper {
    display: inline-block;
    width: 560px;
    margin: 0 0 0 auto;
}

.listing-detail__title {
    font-size: 64px;
    margin-top: 60px; 
}

.listing-detail__question__number {
    font-size: 32px;
    font-weight: bold;
    color: #000;
}

.listing-detail__question__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    color: #333333;
}

.listing-detail__image-wrapper {
    width: 50%;
}

.listing-detail__thumbnail {
    display: none;
}

@media only screen and (max-width: 1480px) {
    .listing-detail__wrapper, .listing-detail__image-wrapper {
        margin: auto;
        max-width: 100%;
    }

    .listing-detail__image-wrapper {
        width: auto;
    }
    
    .listing-detail__thumbnail {
        display: block;
        width: 100%;
    }
    .listing-detail__image {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .listing-detail__title {
        font-size: 32px;
        margin-top: 30px; 
    }
    
    .listing-detail__question__number {
        font-size: 24px;
    }
    
    .listing-detail__question__text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 550px) {
    .listing-detail__title {
        font-size: 24px;
        margin-top: 20px; 
    }
    
    .listing-detail__question__number {
        font-size: 20px;
    }
    
    .listing-detail__question__text {
        font-size: 14px;
    }
}